h3{
    
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
span{
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.congr{
    padding: 2rem;
    background-color: rgb(226, 43, 226);
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    text-align: center;
}