<div class="main">
  <div class="sidebar">
    <div class="heading">
      <p class="head-name">My App<i class="fa-regular fa-rectangle-xmark fa-lg"></i></p>
    </div>
    <div class="menu">
      <div class="menu-item">
        <p><i class="fa-solid fa-table-cells-large"></i>Dashboard</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-solid fa-link"></i>Shortcuts</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-solid fa-bars"></i>Overview</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-solid fa-calendar-week"></i>Events</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-solid fa-circle-question"></i>About</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-solid fa-sliders"></i>Services</p>
      </div>
      <div class="menu-item">
        <p><i class="fa-regular fa-envelope"></i>Contact</p>
      </div>
    </div>
  </div>
  <div class="main-space">
    <i class="fa-solid fa-screwdriver-wrench fa-5x"></i>
    <p>This site is under contruction</p>

  </div>
</div>