<div class="main">
  <header class="menu">
    <ul>
      <li>HOME</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </header>
  <section class="name">
    <img src="avatar.webp" alt="">
    <h2>My name is Doggo</h2>
  </section>
  <hr>
  <section class="about">
    <h3>About Me</h3>
    <p>I am a mid-level software developer. I design and develop web projects using AngularJs framework with neccessory technologies like NodeJS, ExpressJS and MongoDB.</p>
  </section>
  <hr>
  <section class="contact">
    <h3>Contact Me</h3>
    <p>You can contact me for further communication via phone call as well as email. My contact details are given below <br>
    Email : Doggoman123&#64;gmail.com <br>
  Phone : 0487-38923874</p>
  </section>
  <hr>
  <footer class="footer">
    <p>Copy right Reserved &copy; 2024</p>
  </footer>
</div>