<header [ngClass]="{'shadow' : scrolled }">
    <div class="logo">
        <img src="{{profile.profileImg}}" alt="logo--image">
        <h3>MSMC</h3>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu-item"><a href="#">HOME</a></li>
            <li class="menu-item"><a href="#services">SERVICES</a></li>
            <li class="menu-item"><a href="#projects">PROJECTS</a></li>
            <li class="menu-item"><a href="#skills">SKILLS</a></li>
            <li class="menu-item"><a href="#about">ABOUT</a></li>
            <li class="menu-item"><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
</header>
<main class="main-bg">
    <section class="cover-page" id="home">
        <div class="left-part">
            <h2>I AM <span class="first-name">{{ profile.name.slice(0,8).toUpperCase() }}</span></h2>
            <h2 class="last-name">{{ profile.name.slice(8).toUpperCase() }}</h2>
            <h4 class="tagline">{{ profile.title}}</h4>
            <p class="tag-brief">{{ profile.bio }}</p>
            <div class="buttons-area">
                <button>HIRE ME</button>
                <button><a href="#contact">CONTACT ME</a></button>
            </div>
        </div>
        <div class="right-part">
            <img src="{{profile.coverImg1}}" alt="">
        </div>
    </section>

    <!-- Service section  -->
    <section class="services" id="services">
        <h2 class="section-heading">SERVICES</h2>
        <div class="services-tiles">
            <div class="service-tile" *ngFor="let service of services">
                <img src="{{ service.image }}" class="anim-img">
                <h4>{{ service.title }}</h4>
                <p class="brief">{{ service.description }}</p>
            </div>
        </div>
    </section>
    <!-- pprojects section  -->
    <section class="projects" id="projects">
        <h2 class="section-heading">PROJECTS</h2>
        <div class="projects-tiles">
            <div class="project-tile" *ngFor="let project of projects">
                <div class="proj-img-area">
                    <img src="{{ project.image }}" alt="" class="proj-img">
                </div>
                <h5>{{ project.category }}</h5>
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
                <h5>{{ project.stack }}</h5>
                <h5 class="proj-link-area"><a href="{{ project.link }}" target="_blank">Github Repo</a></h5>
            </div>
        </div>
    </section>
    <!-- skills section  -->
    <section class="skills" id="skills">
        <h2 class="section-heading">SKILLS</h2>
        <div class="skill-area">
            <div class="skill-nav">
                <ng-container *ngFor="let skill of skills,let i = index ">
                    <h2 (click)="getSelected(i+1)" [ngClass]="{'skill-nav-selected' : skillNavSelected == i+1 }">{{
                        skill.title}}</h2>
                </ng-container>
            </div>
            <div class="skill-imgs">
                <ng-container *ngFor="let skillicon of skills,let i = index">
                    <div *ngIf="skillNavSelected == i+1">
                        <div class="skill-tile" *ngFor="let skill of skillicon.skills">
                            <i class=" {{skill.image }} fa-6x"></i>
                            <p>{{ skill.title }}</p>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </section>
    <!-- about section  -->
    <section class="about" id="about">
        <h2 class="section-heading">ABOUT ME</h2>
        <div class="about-field">
            <div class="profile">
                <img src="{{ profile.profileImg }}" alt="">
                <h3>{{ profile.name }}</h3>
                <div class="social-links">
                    <a href="#"><img src="fb.svg" alt=""></a>
                    <a href="#"><img src="x.svg" alt=""></a>
                    <a href="https://www.linkedin.com/in/mshafeeqmsmc/" target="_blank">
                        <img src="lkd.svg" alt=""></a>
                    <a href="https://github.com/MSHAFEEQM/" target="_blank">
                        <img src="github.svg" alt=""></a>
                </div>
            </div>
            <div class="about-text">
                <p>{{ profile.brief }}</p>
            </div>
        </div>
    </section>
    <!-- contact section  -->
    <section class="contact" id="contact">
        <h2 class="section-heading">CONTACT ME</h2>
        <div class="contact-area">
            <div class="address">
                <img src="{{ profile.coverImg2 }}" alt="">
                <address>
                    <p>{{ profile.name }}</p>
                    <p>{{contacts.address.place}}</p>
                    <p>{{ contacts.address.city }}</p>
                    <p>{{ contacts.address.dist }}</p>
                    <p>Pin: {{ contacts.address.pinCode }}</p>
                    <p>Phone: {{ contacts.phone }}</p>
                    <p>Email: {{ contacts.email }}</p>
                </address>

            </div>
            <div class="form">
                <form action="#">
                    <label for="text">Your Name</label>
                    <input type="text">
                    <label for="phone">Your Phone Number</label>
                    <input type="number">
                    <label for="email">Your E-mail</label>
                    <input type="email" name="" id="">
                    <label for="subject">Subject</label>
                    <input type="text">
                    <label for="message">Your Message</label>
                    <input type="text" name="" id="message">
                    <input type="button" value="Submit">
                </form>
            </div>
        </div>
    </section>
    <!-- footer  -->
    <footer>
        All Rights Reserved &copy; Copyright 2024
    </footer>
</main>