<div class="main">
  <div class="left">
      <h2>The Byte Book</h2>
  </div>
  <div class="right">
    <p>The Byte Book is platform to share code snippets. Users can download this code snippets and can use it in their own projects at free of cost</p>
  </div>
</div>
<p class="head-cat">Categories</p>
<div class="category-tab">
  <div class="tile">
    <p>C/C++</p>
  </div>
  <div class="tile">
    <p>JAVA</p>
  </div>
  <div class="tile">
    <p>Python</p>
  </div>
  <div class="tile">
    <p>JavaScript</p>
  </div>
  <div class="tile">
    <p>NodeJS</p>
  </div>
  <div class="tile">
    <p>Angular</p>
  </div>
  <div class="tile">
    <p>ReactJS</p>
  </div>
  <div class="tile">
    <p>PHP</p>
  </div>
  <div class="tile">
    <p>HTML</p>
  </div>
  <div class="tile">
    <p>CSS</p>
  </div>
</div>