img{
    width: 15%;
}

.rated{
    filter: invert(77%) sepia(100%) saturate(715%) hue-rotate(343deg) brightness(102%) contrast(99%);
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
img:active{
    transform: scale(1);
}
div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
p{
    text-align: center;
    margin-top: 1rem;
}